@import "../../styles/utils/variables.scss";

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #00000014;
  border-radius: $border-radius;
  box-shadow: $box-shadow-style;
}
