@import "../../styles/utils/variables.scss";
@import "../../styles/utils/mixins.scss";

.header {
  max-width: $page-container;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 27px 0 16px;
  box-sizing: border-box;
  background-color: $white-color;
  color: $primary-text-color;

  @include onDesktop {
    padding: 36px 40px;
  }

  .logo {
    font-size: 18px;
    font-weight: bold;

    @include onDesktop {
      cursor: pointer;
    }
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: $border-radius;

    &:active {
      background-color: $background-color;
    }

    @include onTablet {
      display: none;
    }
  }

  .hamburger {
    @include onDesktop {
      cursor: pointer;
    }
  }
}
