$header-min-height: 40px;
$header-padding-bottom: 48px;
$header-big-height: 72px;
$page-container: 2000px;
$content-container: 500px;
$border-radius: 8px;
$box-shadow-style: 0px 2px 6px -2px #1d29343d;

$primary-button-color: #0062f5;
$hover-button-color: #0152cc;
$primary-text-color: #222b38;
$background-color: #f1f5fb;
$white-color: #fff;
$black-color: #000;
