@import "../../styles/utils/variables.scss";

.cardItem {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  .postItem {
    padding: 12px;
    color: $black-color;

    .postInfo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      .name {
        font-weight: 700;
        line-height: 24px;
      }

      .date {
        font-size: 12px;
        line-height: 16px;
        color: #00000078;
      }
    }

    .text {
      line-height: 20px;
    }
  }
}
