@import "../../styles/utils/variables.scss";

.CircularProgressbar {
  .CircularProgressbar-path {
    stroke: #0cbd68;
  }

  .CircularProgressbar-trail {
    stroke: $white-color;
  }

  .CircularProgressbar-text {
    fill: $black-color;
    font-weight: 600;
  }
}
