.CircularProgressbar {
  .CircularProgressbar-path {
    stroke: #0cbd68;
  }

  .CircularProgressbar-trail {
    stroke: #fff;
  }

  .CircularProgressbar-text {
    fill: #000;
    font-weight: 600;
  }
}
