@import "../../../styles/utils/mixins.scss";

.form {
  width: 100%;

  .email {
    @include onTablet {
      margin: 40px 0 30px;
    }
  }

  .button {
    position: absolute;
    bottom: 24px;
    width: 100%;

    @include onTablet {
      position: static;
    }
  }
}
