.planPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .progressBar {
    margin: 35px 0;
  }

  .text {
    padding: 12px 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
  }
}
